.idea/
*.iml

# Bytecode
__pycache__/
*.pyc

# Build artifacts
build/
dist/

*.egg-info/
.gitignore

miracle.txt
nem_stats.cpython-310-x86_64-linux-gnu.so
nem_stats.cpython-312-x86_64-linux-gnu.so
ppanggolin/nem/NEM/nem_stats.c
ppanggolin_output_DATE*/
text.txt
why.txt

ALLLLL/
Afer_classes_PPanGGOLiN.png
Before_classes_PPanGGOLiN.png
after_uml.png
before_classes_PPanGGOLiN.dot
before_uml.png
check_igr.txt
classes_PPanGGOLiN.dot
dup.txt
fasta.txt
packages_PPanGGOLiN.dot
test.txt
testingDataset/GBFF/GCF_003788895.1_sc110_genomic.gbff
testingDataset/subset_ecoli/
testingDataset/test.gbff.list
.venv